img { width: 400px;}
    #thirDiv { height: 600px; width: 500px; 
               background-color: rgb(49, 226, 43); 
               padding: 50px;border-style: groove;border-width: 10pt;} 
    #spanId {font-size: 18px; margin: 50px;}
    html {background-image: url(https://igualdadanimal.mx/app/uploads/2019/09/blog-pollo-gato-adivina-quien-es-quien-mx-33-1560x0-c-default.jpg);}
